{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "comma-dangle": 0,
    "arrow-body-style": 0,
    "global-require": 0,
    "no-shadow": [
      "error",
      { "allow": ["error", "err", "done", "resolve", "reject"] }
    ],
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "arrow-parens": 0,
    "import/prefer-default-export": 0
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
